@font-face 
{
    font-family: 'ambleregular';
    src: url('Amble-Regular-webfont.eot');
    src: url('Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Amble-Regular-webfont.woff2') format('woff2'),
         url('Amble-Regular-webfont.woff') format('woff'),
         url('Amble-Regular-webfont.ttf') format('truetype'),
         url('Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body
{
    width: 100%;
    height: auto;
    margin-bottom: auto;
}
#global
{
    display: flex; 
    width: 100%;
    margin: 0%;
}
#left, #right
{
    display: inline-block;
    vertical-align: top;
}
#left
{
    background-color: #FFE082;
    width: 25%;
    margin-right: auto;
    text-align: center;
    overflow: auto;
}
#right
{
    background-color: #FAFAFA;
    overflow: auto;
    width: 75%; 
    border: 1px solid black;
    text-align: center;
    margin: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}
h1 ,h2 
{
    text-align: left;
}
h3
{
    text-decoration: underline;
    text-decoration-color: coral;width: 80%;
    text-align:justify;
    margin-left: 60px;
    font-size: 1.3em;
}
h3 + span
{

}
.itemformation h3
{
    margin-top: 100px;
}
.itemexperience h3
{
    margin-top: 120px;
}
.itemrecommandations
{
    margin-top: 120px;
}
strong
{
    color: coral;
    text-align: left;
}


@media screen and (max-width: 900px)
{
#global
    {
    width: 100%;
    margin: opx; 
    display: flex;
    flex-direction: column;
    }
 }
#left

    {
        background-color: #FFE082;
        width: 500px; 
    }
    
#right
{
    background-color: ;
    width: 100%;
    margin-bottom: auto;
}

   #body
   {
        background-color: #848; 
    }
}
    
h1
    {
        font-family: 'Amble-regular','arial','sans-serif';
        color: black;
        font-size: 3 em;
    }



h1 + h2
{
color:darkblue;
}
h2 > span
{
    text-decoration: underline;
    text-decoration-color: orange;
}
   
img
{
        height: 150px;
        width: 150px;
        border-radius: 100px;
        border: 3px solid black;
        justify-content: center;
        align-items: center;
}

a:hover
{
    color : blue;
}

.itemcontact h2
{
    width: 100%;
    border: solid;
    text-align: center;
    background-color: black;
    color: orange;
}
.itemaproposdemoi h2
{
    width: 100%;
    border: solid;
    text-align: center;
    background-color: black;
    color: orange;
    margin-top: 120px;
}
.itemloisirs h2
{
    width: 100%;
    border: solid;
    text-align: center;
    background-color: black;
    color: orange;
    margin-top: 230px;
}
.itemformation h3
{
    text-decoration: underline;
    text-decoration-color: coral;
}
.itemexperience h3
{
    text-decoration: underline;
    text-decoration-color: coral;
}
.fa-swimmer
{
     font-size: 40px;
    border-radius: 50%;
    border: black 2px solid;
    padding: 10px 5px;
    
}
.fa-running
{
     font-size: 40px;
    border-radius: 50%;
    border: black 2px solid;
    padding: 10px 12px;
}
.fa-xbox
{
     font-size: 40px;
    border-radius: 50%;
    border: black 2px solid;
    padding: 10px 12px; 
    
}
#itemrecommandations
{
    display: flex;
    flex-direction: row;
    vertical-align: top;
    justify-content: space-around;
}